/* base.css puts .annoying-warning in a red box fixed at the bottom of
the viewport. Adding INPUT and LABEL as below allows the box to be
clicked away, after which it will appear inline:

   <INPUT ID=annoying-warning TYPE=CHECKBOX TITLE="hide warning">
   <LABEL FOR=annoying-warning>(hide)</LABEL> <DIV
   CLASS=annoying-warning> <P><STRONG>Warning:</STRONG> Text of the
   warning...  </DIV>

*/

.annoying-warning {
    background: #fdd;
    padding: .75em 1em;
    border: solid red;
    border-radius: 1em;
    margin-top: 1.2em;
    font-weight: bold;
    color: red;
}

.annoying-warning :last-child {margin-bottom: 0}
.annoying-warning :first-child {margin-top: 0}
#annoying-warning, #annoying-warning + * {display: none}

@media screen {
    #annoying-warning:not(:checked) + * + * {position: fixed; z-index: 3;
	bottom: 2em; left: 1em; right: 1em; text-align: center;
	box-shadow: 0 2px 8px black; border-radius: 1em}
    #annoying-warning:not(:checked), #annoying-warning:not(:checked) + * {
	display: block; position: fixed; z-index: 4}
    #annoying-warning {font-size: 1em; bottom: 2.3em; right: 1.5em;
	margin: 0}
    #annoying-warning + * {font-size: 80%; bottom: 2.5em; right: 3.3em}
    html {margin-bottom: 15em}
}
